.messages {
  padding-bottom: 30px;
  height: 560px;
  border-bottom: 2px solid #000;
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  background: url("../img/background.jpg");
  background-size: 560px;
}

.messagefalse {
  margin: 10px 45px;
}

.messagefalse .message-text {
  padding: 10px;
  border-radius: 16px 16px 16px 4px;
  max-width: 200px;
}

.message,
.is-mine {
  align-self: flex-end;
  margin: 10px 45px;
}

.message .message-user,
.is-mine .message-user {
  display: none;
}

.message .message-text,
.is-mine .message-text {
  padding: 10px;
  border-radius: 16px 16px 4px 16px;
  max-width: 200px;
  align-self: flex-end;
}

.message-time {
  display: none;
}

.message-text {
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.message-user {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 10px;
}
